
.sidebar__personal {
  
}

.sidebar__personal-name {
    
}

.sidebar__avatar {
    
}

.sidebar__block {
   
}

.sidebar__list {
  
}

.sidebar__item {
    
}

.sidebar__item:not(:last-child) {
    margin-bottom: 30px;
}

.sidebar__link {
   
}

.sidebar__img {
    
}



.bar__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.main__sidebar {
   
}