.centerblock__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
  gap: 10px;
}

.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}
.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
}
.filter__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}

.filter__button:not(:last-child) {
  margin-right: 10px;
}

._btn-text:active {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}
._btn-text:hover {
  border-color: #d9b6ff;
  color: #d9b6ff;
  cursor: pointer;
}

._btn-icon:hover svg {
  fill: transparent;
  stroke: #acacac;
  cursor: pointer;
}

._btn-icon:active svg {
  fill: transparent;
  stroke: #ffffff;
  cursor: pointer;
}

._btn-icon:active .track-play__like-svg,
._btn-icon:active .track-play__dislike-svg {
  fill: #696969;
  stroke: #ffffff;
  cursor: pointer;
}
.wrapper_pop-up {
  margin-top: 10px;
  border-radius: 12px;
  width: 248px;
  height: 305px;
  position: absolute;
  padding: 34px;
  background-color: #313131;
}
.filter__pop-up {
  position: absolute;
  width: 180px;
  height: 237px;
  font-size: 20px;
  line-height: 24px;
  overflow-y: auto;
  background-color: #313131;
  color: #fff;
  font-variant-numeric: lining-nums proportional-nums;
  font-style: normal;
  font-family: StratosSkyeng;
  font-family: "StratosSkyeng", sans-serif;
}
.small__pop-up {
  margin-top: 10px;
  border-radius: 12px;
  width: 221px;
  height: 196px;
  padding: 34px;
}
.filter__pop-up::-webkit-scrollbar {
  width: 4px;
  border-radius: 2px;
  background: #4b4949;
}
filter__pop-up::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 2px;
}
.filter__pop-up_list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.filter__pop-up_item:hover {
  color: #b672ff;
  cursor: pointer;
  text-decoration: underline;
}
