.content__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 24px;
}

.content__playlist {
  
}

.playlist-title__col {
   
}

.playlist-title__svg {
   
}

.col01 {
    width: 447px;
}

.col02 {
    width: 321px;
}

.col03 {
    width: 245px;
}

.col04 {
    width: 60px;
    text-align: end;
}

.playlist__item {
    
}

.playlist__track {
  
}

.track__title {
    
}

.track__title-image {
   
}

.track__title-svg {
   
}

.track__title-link {
   
}

.track__title-span {
   
}

.track__author {
   
}

.track__author-link {
   
}

.track__album {
    
}

.track__album-link {
    
}

.track__time-svg {
  
}

.track__time-text {
    
}